
<h3>{{title}} </h3>


<button class="btn btn-primary my-3" [routerLink]="['/usuarios/create']"> Crear Nuevo Usuario </button>

@if (users.length==0) {
<p class="alert alert-warning">No hay datos</p>

}@else {
  <div class="table-responsive">
<table class="table table-hover table-striped">
  <thead>
    <tr>

      <th >Nombre</th>
      <th>Apellido Materno</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rfc</th>
      <th>Fecha de ingreso</th>
      <th>Puesto</th>
      <th>Cordinacion</th>
      <th>Eliminar</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {

    <tr>

      <td>{{ user.nombre }}</td>
      <td>{{ user.apellidoM }}</td>
      <td>{{ user.apellidoP }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rfc }}</td>
      <td>{{ user.fechaDeIngreso }}</td>
      <td>{{ user.puesto?.puesto  || 'N/A'}}</td>
      <td>{{ user.cordinacion?.nombre || 'N/A' }}</td>
      <td>
        <fa-icon (click)="onRemove(user.id)" [icon]="trash" class="fa-xl"></fa-icon>

      </td>
      <td><fa-icon [routerLink]="['/usuarios/edit',user.id]" [icon]="edit" class="fa-xl"></fa-icon></td>
    </tr>
    }
  </tbody>
</table>
</div>
}
