
<h3>{{title}} </h3>


<button class="btn btn-primary my-3" [routerLink]="['/usuarios/create']"> Crear Nuevo Usuario </button>

@if (users.length==0) {
<p class="alert alert-warning">No hay datos</p>

}@else {
<table class="table table-hover table-striped table-responsive">
  <thead>
    <tr>

      <th>Nombre</th>
      <th>Apellido Materno</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Rfc</th>
      <th>Fecha de ingreso</th>
      <th>Puesto</th>
      <th>Cordinacion</th>
      <th>Eliminar</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    @for (user of users; track $index) {

    <tr>

      <td>{{ user.nombre }}</td>
      <td>{{ user.apellidoM }}</td>
      <td>{{ user.apellidoP }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rfc }}</td>
      <td>{{ user.fechaDeIngreso }}</td>
      <td>{{ user.puesto }}</td>
      <td>{{ user.cordinacion }}</td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="onRemove(user.id)">Eliminar</button>
      </td>
      <td> <button class="btn btn-warning btn-sm" (click)="onSelectedUser(user)">Editar</button></td>
    </tr>
    }
  </tbody>
</table>
}
