
@if (paginador.totalPages >1) {

<ul class="pagination">

  <li class="page-item">
    <a  class="page-link" [routerLink]="[url,0]">Primera pagina</a>
  </li>
  @if (paginador.number>0) {
  <li class="page-item">
    <a  class="page-link" [routerLink]="[url,paginador.number-1]">Atras</a>
  </li>
}
@if (paginador.number< paginador.totalPages-1) {
  <li class="page-item">
    <a  class="page-link" [routerLink]="[url,paginador.number+1]">Siguiente</a>
  </li>
}
  <li class="page-item">
    <a  class="page-link" [routerLink]="[url,paginador.totalPages-1]">Ultima</a>
  </li>
</ul>
}
