<h3>{{title}} </h3>

<button class="btn btn-primary my-3" [routerLink]="['/vacaciones/create']" > Agregar vacaciones <fa-icon  [icon]="plus" ></fa-icon></button>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>

        <th class="custom-th">Fecha de Inicio</th>
        <th class="custom-th">Fecha de Fin</th>
        <th class="custom-th">Estado</th>
        <th class="custom-th"> Periodo</th>
        <th class="custom-th">Dias Solicitados</th>
        <th class="custom-th">Dias Restantes</th>
        <th class="custom-th">Persona</th>
        <th class="custom-th">Eliminar</th>
        <th class="custom-th">Editar</th>
        <th class="custom-th">PDF</th>
      </tr>
    </thead>
    <tbody>
      @for (vaca of vacation; track $index) {

      <tr>

        <td class="custom-td">{{ vaca.fechaInicio }}</td>
        <td class="custom-td">{{ vaca.fechaFin }}</td>
        <td class="custom-td">{{ vaca.estado }}</td>
        <td class="custom-td">{{ vaca.periodo }}</td>
        <td class="custom-td">{{ vaca.diasSolicitados }}</td>
        <td class="custom-td">{{ vaca.diasRestantes }}</td>
        <td class="custom-td">{{ vaca.nombreP }} {{vaca.apellidoM}} {{vaca.apellidoP}}  </td>



        <td>
           <fa-icon  [icon]="trash" class="fa-xl"></fa-icon>

           <!-- (click)="onRemove(user.id)" -->
        </td>
       <td><fa-icon [icon]="edit" class="fa-xl"></fa-icon>

        <!-- [routerLink]="['/usuarios/edit',user.id]" -->
      </td>
      <td><fa-icon [icon]="pdf" class="fa-xl" (click)="downloadPdf('PDF', vaca.userId,vaca.id)"></fa-icon></td>
       </tr>
      }
    </tbody>
  </table>
</div>

<app-paginador [paginador]="paginador" [url]="pageUrl"/>

